.scroll-container{
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    animation: scroll-horizontal 10s linear infinite;
}

.scroll-container > .col-md-4 {
    flex: 0 0 auto;
}

@keyframes scroll-horizontal {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
